*{
    margin:0;
    outline: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  */
  }
  body{
      display: grid;
      background-color: gray;
  }
  .content{
      margin: auto;
      width: 500px;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  .none{
        display: none!important;
    }
  footer{
    text-align: center;
  }

  h1{
    color:blue
    }
    .base-form{
        display: grid;
    }
  
    form>input{
        margin: 5px;
    }
    form>button{
        margin: 4px;
    }

    .image{
        width:60px;
        height: 60px;
      }
      .error{
        color: var(--bs-warning)!important;
      }
      .vertical{
          display: grid;
      }